[Unit]
Description=PcPartSearcher API Service
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/pcpartsearcher-api
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="PYTHONPATH=/var/www/pcpartsearcher-api"
ExecStart=/usr/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 3500 --proxy-headers --forwarded-allow-ips='*'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target